header{
    background: url("../Recursos/menu_Ajuda.jpg"), radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    width: 800px;
    height: 800px;
    margin: auto;
    border-radius: 105px;
}

img#background{
    //position: absolute;
    border-radius: 105px;
}

button
{
    border: none;
    cursor: pointer;
    position: absolute;
    margin: auto;
    display: block;
    background-color: #c8a061;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}

#BotaoVoltarOpcoes{
    top: 696px;
    margin-left: 285px;
}

#BotaoVoltarOpcoes:hover{
    background-color: #ad8547;
}
#BotaoVoltarOpcoes:active{
    background-color: white;
}
