header{
    height: 800px;
    width: 800px;
    background: url("../Recursos/barSemNinguem.jpg"), radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    border-radius: 105px;
    margin: auto;
}

button
{
    border: none;
    cursor: pointer;
    /*padding: 0px;
    */
    position: absolute;
    right: auto;
    left: auto;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}
#som{
    top: 20px;
    background-color: transparent;
    margin-left: 680px;
}
#som:hover{
    background-color: #ad8547;
}
#som:active{
    background-color: white;
}
#interrog{
    top: 20px;
    background-color: transparent;
    margin-left: 640px;
}
#interrog:hover{
    background-color: #ad8547;
}
#interrog:active{
    background-color: white;
}
#porta{
     top: 20px;
     background-color: transparent;
     margin-left: 600px;
 }
#porta:hover{
    background-color: #ad8547;
}
#porta:active{
    background-color: white;
}
#fazercadeiras{
    background-color: #c8a061;
    top: 696px;
    margin-left: 240px;
}
#fazercadeiras:hover{
    background-color: #ad8547;
}
#fazercadeiras:active{
    background-color: white;

}

#senhora{
    background-color: transparent;
    margin-left: 260px;
    margin-top: 274px;
}
#senhora:hover{
    background-color: transparent;
    margin-left: 259px;
    margin-top: 278px;
}

.senhora_normal, #senhora:hover .senhora_sorri{
    display:block;

}

.senhora_sorri, #senhora:hover .senhora_normal{
    display:none;

}
/*
#senhora{
    background-color: transparent;
    margin-left: 300px;
    margin-top: 275px;
}

#senhora:hover{
    background-image: url("../Recursos/SenhoraSorrindo.png");
    background-color: transparent;
}
/*

