header{
    height: 342px;
    width: 570px;
    background: url("../Recursos/popup_cadeiras.png"), radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    border-radius: 20px;
    margin: auto;
}

button
{
    border: none;
    cursor: pointer;
    /*padding: 0px;
    */
    position: absolute;
    right: auto;
    left: auto;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}
#fisica{
    top: 253px;
    background-color: transparent;
    margin-left: 308px;
}
#fisica:hover{
    background-color: #ad8547;
}
#fisica:active{
    background-color: white;
}
#ami{
    top: 79px;
    background-color: transparent;
    margin-left: 110px;
}
#ami:hover{
    background-color: #635252;
}
#ami:active{
    background-color: black;
}
#tc{
    top: 81px;
    background-color: transparent;
    margin-left: 30px;
}
#tc:hover{
    background-color: #635252;
}
#tc:active{
    background-color: black;
}
#xis{
    width: 47px;
    height: 47px;
    border-radius: 15px;
    padding: 0px 0 0 0;
    background-color: #df1600;
    top: 17px;
    margin-left: 514px;
}
#xis:hover{
    background-color: #b21200;
}
#xis:active{
    background-color: #880d00;

}