header{
    height: 342px;
    width: 570px;
    background: url("../Recursos/popup_cadeiras.png"), radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    border-radius: 20px;
    margin: auto;
}

button
{
    border: none;
    cursor: pointer;
    /*padding: 0px;
    */
    position: absolute;
    right: auto;
    left: auto;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}
#fisica{
    top: 253px;
    background-color: transparent;
    margin-left: 308px;
}
#fisica:hover{
    background-color: #ad8547;
}
#fisica:active{
    background-color: white;
}
#ami{
    top: 79px;
    background-color: transparent;
    margin-left: 110px;
}
#ami:hover{
    background-color: black;
}
#ami:active{
    background-color: white;
}
#tc{
    top: 81px;
    background-color: transparent;
    margin-left: 30px;
}
#tc:hover{
    background-color: black;
}
#tc:active{
    background-color: white;
}
#fazercadeiras{
    background-color: #c8a061;
    top: 696px;
    margin-left: 240px;
}
#fazercadeiras:hover{
    background-color: #ad8547;
}
#fazercadeiras:active{
    background-color: white;

}
#xis{
    background-color: #c8a061;
    top: 696px;
    margin-left: 240px;
}
#xis:hover{
    background-color: #ad8547;
}
#xis:active{
    background-color: white;

}