#frame{
    height: 800px;
    width: 800px;
    position: absolute;
    display: none;
    overflow: hidden;
}
#iframe{
    height: 800px;
    width: 800px;
    position: absolute;
    display: none;
    overflow: hidden;
}

section#Jogo{
    height: 800px;
    width: 800px;
    border-radius: 105px;
    margin: auto;
    overflow-y: hidden;
}

/*region Animacao*/

section#slideshow
{
    height: 800px;
    width: 800px;
    border-radius: 105px;
    margin: auto;
}

section#slideshow img#foto{
    border-radius: 105px;
}


section#MenuPrincipal{
    height: 800px;
    width: 800px;
    background: radial-gradient(farthest-side at 150px 200px, #990011, #188833);
    border-radius: 105px;
    margin: auto;
}

section#MenuPrincipal img#backgroundPrincipal{
    border-radius: 105px;
    position: absolute;
}


section#MenuPrincipal nav.BotoesPrincipal {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
}
section#MenuPrincipal nav.BotoesPrincipal button{
    border: none;
    cursor: pointer;
    display: block;
    background-color: #c8a061;
    border-radius: 15px;
    margin: 5px auto auto;
    transition: background-color 0.05s, color 1s;
}

section#MenuPrincipal nav.BotoesPrincipal button:hover{
    background-color: #ad8547;
}

section#MenuPrincipal nav.BotoesPrincipal button:active{
    background-color: white;
}


/*endregion*/

/*region Ajuda*/

section#Ajuda{
    background: radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    width: 800px;
    height: 800px;
    margin: auto;
    border-radius: 105px;
}

section#Ajuda img#backgroundAjuda{
    position: absolute;
    border-radius: 105px;
}

section#Ajuda button
{
    border: none;
    cursor: pointer;
    position: absolute;
    margin: auto;
    display: block;
    background-color: #c8a061;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}

/*Selecciona o botao com id voltar que esta dentro do section com classe Ajuda*/
section#Ajuda button#BotaoVoltarAjuda{
    top: 696px;
    margin-left: 285px;
}

section#Ajuda button#BotaoVoltarAjuda:hover{
    background-color: #ad8547;
}

section#Ajuda button#BotaoVoltarAjuda:active{
    background-color: white;
}

/*endregion*/

/*region Opcoes*/

section#Opcoes{
    height: 800px;
    width: 800px;
    background: radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    border-radius: 105px;
    margin: auto;
}

section#Opcoes img#backgroundOpcoes{
    position: absolute;
    border-radius: 105px;
}

section#Opcoes button
{
    border: none;
    cursor: pointer;
    position: absolute;
    right: auto;
    left: auto;
    background-color: #c8a061;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}

section#Opcoes p#TextoVolume
{
    display: inline-block;
    border: none;
    position: absolute;
    pointer-events: none;
    user-select: none;
    background-color: #c8a061;
    border-radius: 15px;
    font-size: 1.5rem;
    margin: 5px 0 0 620px;
    top: 460px;
}

section#Opcoes button:disabled{
    filter: brightness(110%);
}

section#Opcoes #BotaoMenos{
    top: 460px;
    margin-left: 560px;
}

section#Opcoes #BotaoMenos:hover{
//background-color: #990011;
    background-color: #ad8547;
}

section#Opcoes #BotaoMenos:active{
    background-color: white;
}

section#Opcoes #BotaoMais{
    top: 460px;
    margin-left: 660px;

}

section#Opcoes #BotaoMais:hover{
    background-color: #ad8547;
}

section#Opcoes #BotaoMais:active{
    background-color: white;
}

section#Opcoes #BotaoOn{
    top: 445px;
    margin-left: 40px;
}

section#Opcoes #BotaoOn:hover{
    background-color: #ad8547;
}

section#Opcoes #BotaoOn:active{
    background-color: white;
}

section#Opcoes #BotaoOff{
    top: 445px;
    margin-left: 160px;
}

section#Opcoes #BotaoOff:hover{
    background-color: #ad8547;
}

section#Opcoes #BotaoOff:active{
    background-color: white;
}

section#Opcoes #BotaoVoltarOpcoes{
    top: 696px;
    margin-left: 280px;
}

section#Opcoes #BotaoVoltarOpcoes:hover{
    background-color: #ad8547;
}

section#Opcoes #BotaoVoltarOpcoes:active{
    background-color: white;
}

/*endregion*/

/*region Menu Anos*/

section#MenuAnos{
    height: 800px;
    width: 800px;
    background: radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    border-radius: 105px;
    margin-left: auto;
    margin-right: auto;
}

section#MenuAnos img#backgroundAnos{
    border-radius: 105px;
    position: absolute;
}

section#MenuAnos nav{
    position: absolute;

}

section#MenuAnos button
{
    border: none;
    cursor: pointer;
    /*padding: 0px;
    */
    position: absolute;
    right: auto;
    left: auto;
    background-color: #c8a061;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}

section#MenuAnos button:disabled{
    filter: brightness(65%);
}

section#MenuAnos button#Ano1 {
    top: 460px;
    margin-left: 50px;
}

section#MenuAnos button#Ano1:hover{
    background-color: #ad8547;
}

section#MenuAnos button#Ano1:active{
    background-color: white;
}

section#MenuAnos button#Ano2{
    top: 460px;
    margin-left: 295px;

}

section#MenuAnos button#Ano2:hover{
    background-color: #302b2b;
}

section#MenuAnos button#Ano2:active{
    /*background-color: white;*/
}

section#MenuAnos button#Ano3{
    top: 460px;
    margin-left: 540px;
}

section#MenuAnos button#Ano3:hover{
    background-color: #302b2b;
}

section#MenuAnos button#Ano3:active{
    /*background-color: white;*/
}

section#MenuAnos button#VoltarAnos{
    top: 696px;
    margin-left: 280px;
}
section#MenuAnos button#VoltarAnos:hover{
    background-color: #ad8547;
}

section#MenuAnos button#VoltarAnos:active{
    background-color: white;
}

/*endregion*/

/*region Bar*/

section#Bar{
    height: 800px;
    width: 800px;
    background: url("../Recursos/barSemNinguem.jpg"), radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    border-radius: 105px;
    margin: auto;
}

section#Bar div.BotoesBar{
    position: relative;
}

section#Bar div.BotoesBar button {
    border: none;
    cursor: pointer;
    /*padding: 0px;
    */
    position: absolute;
    right: auto;
    left: auto;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}

section#Bar div.BotoesBar button.NavegacaoBar{
    left: 580px;
    top: 20px;
    background-color: transparent;
    user-select: none;
}

section#Bar div.BotoesBar button.NavegacaoBar:hover{
    background-color: #ad8547;
}

section#Bar div.BotoesBar button.NavegacaoBar:active{
    background-color: white;
}

section#Bar button#BotaoInterrogacaoBar{
    margin-left: 45px;
}

section#Bar button#BotaoOpcoesBar{
    margin-left: 80px;
}

section#Bar button#BotaoSairBar{
    margin-left: 120px;
}

section#Bar button#BotaoCadeirasBar{
    background-color: #c8a061;
    top: 696px;
    margin-left: 240px;
}

section#Bar button#BotaoCadeirasBar:hover:enabled{
    background-color: #ad8547;
}

section#Bar button#BotaoCadeirasBar:active:enabled{
    background-color: white;

}

section#Bar button#BotaoSenhoraBar{
    width:111px;
    height:144px;
    margin-left: 260px;
    margin-top: 279px;
    background: transparent url("../Recursos/SenhoraNormal.png") no-repeat 50% 50%;
}

section#Bar button#BotaoSenhoraBar:hover{
    margin-left: 270px;
    margin-top: 280px;
    background: url("../Recursos/SenhoraSorrindo.png") no-repeat 50% 50%;
}

section#Bar div#DadosJogador{
    position: absolute;
    display: inline-block;
    margin-top: 25px;
    margin-left: 90px;
    text-align: center;
    user-select: none;
    pointer-events: none;

}

section#Bar div#DadosJogador *{
    display: inline-block;
    /* Makes image not draggable*/
    pointer-events: none;
    /* Makes image not selectable*/
    user-select: none;
}

section#Bar div#DadosJogador img#DinheiroIcone{
    transform: translateY(25%);
}

section#Bar div#DadosJogador p#DinheiroValor{
    margin: 0;
    letter-spacing: 0.05em;
    color: white;
    font-family: "Kristen ITC", sans-serif;
    font-size: large;
}

/*endregion*/

/*region CompraBaguetes*/

section#CompraBaguetes{
    background: url("../Recursos/popup_baguetes_retangular.png");
    position: relative;
    height: 430px;
    width: 585px;
    margin:auto;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 1;
    border-radius: 20px;
}

section#CompraBaguetes button#FecharBaguetes{
    width: 48px;
    height: 47px;
    position: absolute;
    border-radius: 15px;
    border: none;
    padding: 0;
    background-color: #df1600;
    top: 5%;
    left: 85%;

}

section#CompraBaguetes button#FecharBaguetes:hover{
    background-color: #b21200;
}

section#CompraBaguetes button#FecharBaguetes:active {
    background-color: #880d00;
}

section#CompraBaguetes button#Queijo{
    margin-left: 25px;
    background-color: transparent;
    border: none;
}

section#CompraBaguetes button#Queijo:hover{
    background-color: #ad8547;
    border-radius: 5px;
}
section#CompraBaguetes button#Atum{
    margin-left: 30px;
    background-color: transparent;
    border: none;
}

section#CompraBaguetes button#Atum:hover{
    background-color: #ad8547;
    border-radius: 5px;
}
section#CompraBaguetes button#Bacon{
    margin-left: 35px;
    background-color: transparent;
    border: none;
}

section#CompraBaguetes button#Bacon:hover{
    background-color: #ad8547;
    border-radius: 5px;
}

section#CompraBaguetes p#Visor{
    display: inline-block;
    position: relative;
    margin-top: 3%;
    margin-left: 3%;
    padding-top: 2%;
    padding-left: 2%;
    width: 74%;
    height: 3em;
    border-radius: 10px;
    font-family: "Kristen ITC", sans-serif;
    font-size: larger;
    background: #c8a061;
    color: black;
}

section#FazerCadeiras {
    background: url("../Recursos/popup_cadeiras.png");
    position: relative;
    height: 342px;
    width: 570px;
    margin:auto;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 1;
    border-radius: 20px;
}
section#FazerCadeiras button#FecharFazerCadeiras{
    width: 48px;
    height: 47px;
    position: absolute;
    border-radius: 15px;
    border: none;
    padding: 0;
    background-color: #df1600;
    top: 3%;
    left: 90%;

}

section#FazerCadeiras button#TC{
    top: 20%;
    left: 5%;
    position: relative;
    background-color: transparent;
    border: none;
}

section#FazerCadeiras button#TC:hover{
    background-color: #000000;
    border-radius: 5px;
}
section#FazerCadeiras button#AMI{
    top: 21%;
    left: 6%;
    position: relative;
    background-color: transparent;
    border: none;
}

section#FazerCadeiras button#AMI:hover{
    background-color: #000000;
    border-radius: 5px;
}
section#FazerCadeiras button#FISICA{
    top: 69%;
    left: 22%;
    position: relative;
    background-color: transparent;
    border: none;
}

section#FazerCadeiras button#FISICA:hover{
    background-color: #ad8547;
    border-radius: 5px;
}

section#FazerCadeiras button#FecharBaguetes:hover{
    background-color: #b21200;
}

section#FazerCadeiras button#FecharBaguetes:active {
    background-color: #880d00;
}
/*endregion*/