header{
    height: 800px;
    width: 800px;
    background: url("../Recursos/menu_Opcoes.jpg"), radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    border-radius: 105px;
    margin: auto;
}

button
{
    border: none;
    cursor: pointer;
    /*padding: 0px;
    */
    position: absolute;
    right: auto;
    left: auto;
    background-color: #c8a061;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}
#menos{
    top: 460px;
    margin-left: 580px;
}
#menos:hover{
    //background-color: #990011;
    background-color: #ad8547;
}
#menos:active{
    background-color: white;
}
#mais{
    top: 460px;
    margin-left: 640px;

}
#mais:hover{
    background-color: #ad8547;
}
#mais:active{
    background-color: white;
}
#on{
    top: 445px;
    margin-left: 40px;
}
#on:hover{
    background-color: #ad8547;
}
#on:active{
    background-color: white;
}
#off{
    top: 445px;
    margin-left: 160px;
}
#off:hover{
    background-color: #ad8547;
}
#off:active{
    background-color: white;
}
#voltar{
    top: 696px;
    margin-left: 280px;
}
#voltar:hover{
    background-color: #ad8547;
}
#voltar:active{
    background-color: white;
}

#frame{
    display: none;
    position: absolute;
    width: 800px;
    height: 800px;
//top: 50%;
//margin: -100px 0 0 0;
    position: absolute;
    margin: auto;
    background: transparent;
}