header#MenuPrincipal{
    height: 800px;
    width: 800px;
    background: radial-gradient(farthest-side at 150px 200px, #990011, #188833);
    border-radius: 105px;
    margin: auto;
}

#backgroundPrincipal{
    border-radius: 105px;
}

#frame{
    height: 900px;
    width: 900px;
    /*position: absolute;*/
    margin: auto;
    display: none;
    border: none;
    overflow: hidden;
}

nav.botoes {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
}
nav.botoes button{
    border: none;
    cursor: pointer;
    display: block;
    background-color: #c8a061;
    border-radius: 15px;
    margin: 5px auto auto;
    transition: background-color 0.05s, color 1s;
}

nav.botoes button:hover{
    background-color: #ad8547;
}

nav.botoes button:active{
    background-color: white;
}
