header{
    height: 800px;
    width: 800px;
    background: url("../Recursos/menu_jogar.jpg"), radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    border-radius: 105px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    position: absolute;

}

button
{
    border: none;
    cursor: pointer;
    /*padding: 0px;
    */
    position: absolute;
    right: auto;
    left: auto;
    background-color: #c8a061;
    border-radius: 15px;
    transition: background-color 0.05s, color 1s;
}

#ano1{
    top: 460px;
    margin-left: 50px;
}
#ano1:hover{
    background-color: #ad8547;
}
#ano1:active{
    background-color: white;
}
#ano2{
    top: 460px;
    margin-left: 295px;

}
#ano2:hover{
    background-color: #302b2b;
}
#ano2:active{
    /*background-color: white;*/
}
#ano3{
    top: 460px;
    margin-left: 540px;
}
#ano3:hover{
    background-color: #302b2b;
}
#ano3:active{
    /*background-color: white;*/
}

#voltar{
    top: 696px;
    margin-left: 280px;
}
#voltar:hover{
    background-color: #ad8547;
}
#voltar:active{
    background-color: white;
}










