#myCanvas{
    position: relative;
    display: block;
    background: url("../../../Principal/Recursos/arduinoFundo.jpg"), radial-gradient(farthest-side at 150px 200px, #000000, #222222);
    border: solid 1px black;
    margin: auto;
}
